#
# @file     .gitignore
# @brief    Main project gitignore.
#
# @author   Chris Vig (chris@invictus.so)
# @date     2025-08-16
# @cpyrt    © 2025 by Chris Vig. Licensed under the GNU General Public License v3 (GPLv3).
#

# Ignore .vscode directory, except for c_cpp_properties.json since it's required for intellisense
.vscode/*
!.vscode/c_cpp_properties.json

# Ignore build directory
build/
